/* Showcase */
.the-showcase {
    position: relative;
    height: 100vh;
    animation: fade-in 1s ease-in;
}

.showcase-container  {
    height: 100vh;
    width: 100%;
    background-size:cover;
    position: absolute;
    overflow-y: hidden;
    top: 0;
    left: 0;
    opacity: 0;
}

.current {
    transition: translate(0);
    animation: fade-in 1s ease-in;
    animation-fill-mode: forwards;
}
.not-current {
    transition: translate(-50%); 
    animation: fade-out 1s ease-out;
    animation-fill-mode: forwards;
}

.showcase-texts {
    width: 55vw;
    position: relative;
    left: 5%;
    top: 30vh;
    animation: slide-up 1s ease-in 0.2s;
    animation-fill-mode: forwards;
    display: grid;
    grid-template-columns: 65% 30%;
}

.showcase-texts>h1 {
    text-align: left;
    font-size: 150px;
    font-weight: 300;
    /* margin-block-start: 0;
    margin-block-end: 0; */
    color: #fff;
    /* position: absolute; */
    /* bottom: 0; */
    margin: 0;
}

.showcase-texts>h1:nth-child(2) {
    grid-area: 2/ 1/ 3/ 3;
}

.subtext{
    color: white;
    height: 70%;
    font-size: 18px;
    grid-area: 1/ 2/ 2/ 3;
    /* vertical-align: bottom; */
    height: fit-content;
    position: absolute;
    bottom: 0;
    /* margin: 0; */
}

@keyframes slide-up  {
    0% { 
        visibility: visible;
        top: 35vh
    }
    100% { 
        visibility: visible;
        top: 30vh
    }
}

@keyframes fade-out {
    0% {
        visibility: visible;
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}
@keyframes fade-in {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}


/* media queries */

@media screen  and (max-width: 1500px) {     
    .showcase-texts {
        width: 77%;
    }
}

@media screen  and (max-width: 1200px) {
        
        
    .showcase-texts {
        width: 80%;
    }
    .showcase-texts>h1 {
        font-size: 13vw;
    }
    .subtext{
        font-size: 14px;
    }
}


@media screen  and (max-width: 800px) {
    .subtext{
        font-size: 12px;
    }
    .showcase-texts {
        width: 83%;
    }
}

@media screen  and (max-width: 700px) {
        
    .showcase-texts>h1 {
        font-size: 80px;
    }
    .showcase-texts {
        width: 70%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 35% 35% 20% ;
        height: 50vh;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .subtext{
        grid-area: 3/ 1 / 4 / 2;
        font-size: 16px;
    }
}


@media screen  and (max-width: 614px) {
        
    .showcase-texts {
        height: 55vh;
        /* width: 90%; */
        margin: auto;
        grid-template-rows: 25% 50% 20% ;
    }
}
